$main-color: #666;
$white: #fff;
$black: #171717;
$blue: #4A90E2;
$tag-color: #EBEBEB;
$bg-btn: #232323;
$bg-input: #373737;
$border-input-color: #E5E5E5;
$placeholder-color: #AEB3BB;
$fz: 14px;
$navbar-brand-font-size: 1rem;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: $blue;
$mark-bg: $blue;
$pagination-hover-bg: $blue;